@model GSB_GCR.Models.Visiteur

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Êtes-vous sûr de supprimer ceci ?</h3>
<div>
    <h4>Visiteur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Nom")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Prenom")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisPrenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Adresse")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisAdresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Code postal")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisCp)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Ville")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisVille)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Date embauche")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisDateembauche)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Laboratoire")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabCodeNavigation.LabNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Section")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecCodeNavigation.SecLibelle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VisMatricule" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Revenir à la liste</a>
    </form>
</div>
