@model GSB_GCR.Models.Medicament

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Êtes-vous sûr de supprimer ceci ?</h3>
<div>
    <h4>Médicament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Nom")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedNomcommercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Composition")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedComposition)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Effets secondaires")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedEffets)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Contre indication")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedContreindic)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Prix")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedPrixechantillon)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SsmaTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SsmaTimeStamp)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.Label("Famille")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamCodeNavigation.FamCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MedDepotlegal" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Revenir à la liste</a>
    </form>
</div>
