@model GSB_GCR.Models.Praticien

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Praticien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Nom")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PraNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Prenom")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PraPrenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Adresse")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PraAdresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Code postal")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PraCp)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Ville")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PraVille)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Coefficient")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PraCoefnotoriete)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SsmaTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SsmaTimeStamp)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.Label("Fonction")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypCodeNavigation.TypLibelle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Revenir à la liste</a>
</div>
