@model GSB_GCR.Models.RapportVisite

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Compte rendu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Date")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RapDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Bilan")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RapBilan)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Motif")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RapMotif)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Nom praticien")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PraNumNavigation.PraNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Nom visiteur")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisMatriculeNavigation.VisNom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Revenir à la liste</a>
</div>
