@model IEnumerable<GSB_GCR.Models.RapportVisite>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des comptes rendus</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Nouveau compte rendu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Date")
            </th>
            <th>
                @Html.Label("Bilan")
            </th>
            <th>
                @Html.Label("Motif")
            </th>
            <th>
                @Html.Label("Nom praticien")
            </th>
            <th>
                 @Html.Label("Nom visiteur")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RapDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RapBilan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RapMotif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PraNumNavigation.PraNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisMatriculeNavigation.VisNom)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.VisMatricule">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.VisMatricule">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
